color_gris = #444
azul = #22BCE0
naranja = #DD4F24

body
	background #E8E8E8
	color color_gris
	font-family Arial
	font-size 16px

header
	background color_gris
	color white
	overflow hidden
	padding .5em
	position relative

	.logo
		border-right 1px solid azul
		width 60px
		float left
		
		img
			width 52px

	.titular
		margin 0px 60px 0px 70px

		.filtro
			color azul
			font-size 14px
			font-weight bold
			font-style italic
			text-decoration none

		.publicar
			background naranja
			color white
			font-size italic
			margin -5px 1em 0 0
			padding 0.2em 0.5em
			text-decoration none
			text-shadow 2px 2px 0px black			

		.titulo
			font-size 18px
			font-weight normal
			margin 0
			padding 0

	.usuario
		position absolute
		right 10px
		top 10px

		.avatar
			position relative
			margin 0 1em 0 0 
			z-index 2

			img
				width 50px
				border-radius 50%	

		.flechita			
			background naranja
			color white
			display block
			padding 2px
			position absolute
			right 0
			top 15px
			text-align right
			width 50%
			z-index 0



nav
	background  azul 
	
	.menu
		height 40px
		line-height 40px
		margin 0
		padding 0
		overflow-x auto
		white-space nowrap
		li
			display inline-block

			a
				color white
				display block
				margin 0 0.5em
				padding 0 0.2em
				text-decoration none

.left
	float left

.right
	float right